body {
  color: #232122;
}

a {
  color: #fcfcfe;
  text-decoration: none;
}

#lp-pom-text-18 {
  left: 0px;
  top: 337px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 1;
  width: 608px;
  height: 154px;
  position: absolute;
}

#lp-pom-box-19 {
  left: 677px;
  top: 210px;
  display: block;
  background: rgba(59, 109, 119, 0.9);
  border-style: none;
  border-radius: 0px;
  z-index: 2;
  width: 349px;
  height: 509px;
  position: absolute;
}

#lp-pom-root {
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: none;
  margin: auto;
  padding-top: 0px;
  border-radius: 0px;
  min-width: 1026px;
  height: 3762px;
}

#lp-pom-block-155 {
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 140px;
  position: relative;
}

#lp-pom-text-299 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 846px;
  top: 35px;
  z-index: 11;
  width: 180px;
  height: 68px;
  position: absolute;
}

#lp-pom-image-475 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 781px;
  top: 39px;
  z-index: 29;
  position: absolute;
}

#lp-pom-image-543 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 0px;
  top: 16px;
  z-index: 32;
  position: absolute;
}

#lp-pom-image-560 {
  display: none;
  background: rgba(255, 255, 255, 0);
  left: 10px;
  top: 10px;
  z-index: 34;
  position: absolute;
}

#lp-pom-text-587 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 438px;
  top: 49px;
  z-index: 40;
  width: 286px;
  height: 42px;
  position: absolute;
}

#lp-pom-block-17 {
  display: block;
  background: rgba(61, 79, 96, 0.57);
  background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/719e1bf3-adobestock-77070188_11hc0zk1hc0wt00001d01o.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 631px;
  position: relative;
}

#lp-pom-text-20 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 23px;
  top: 16px;
  z-index: 5;
  width: 303px;
  height: 68px;
  position: absolute;
}

#lp-pom-text-372 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 15px;
  top: 90px;
  z-index: 6;
  width: 311px;
  height: 36px;
  position: absolute;
}

#lp-pom-text-476 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 0px;
  top: 506px;
  z-index: 30;
  width: 528px;
  height: 116px;
  position: absolute;
}

#lp-pom-image-594 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 571px;
  top: 606px;
  z-index: 41;
  position: absolute;
}

#lp-pom-button-22 {
  display: block;
  border-style: none;
  border-radius: 100px;
  left: 0px;
  top: 292px;
  z-index: 4;
  width: 320px;
  height: 64px;
  position: absolute;
  background: rgba(241, 255, 255, 1);
  box-shadow: none;
  text-shadow: none;
  color: #484E55;
  border-width: undefinedpx;
  border-color: #undefined;
  font-size: 26px;
  line-height: 31px;
  font-weight: 100;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  background-repeat: no-repeat;
}

#lp-pom-block-418 {
  display: block;
  background: rgba(59, 109, 119, 1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 192px;
  position: relative;
}

#lp-pom-text-419 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 26px;
  top: 807px;
  z-index: 15;
  width: 973px;
  height: 120px;
  position: absolute;
}

#lp-pom-block-571 {
  display: block;
  background: rgba(241, 255, 255, 1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 506px;
  position: relative;
}

#lp-pom-text-573 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 592px;
  top: 1048px;
  z-index: 35;
  width: 351px;
  height: 90px;
  position: absolute;
}

#lp-pom-text-574 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 509px;
  top: 1147px;
  z-index: 36;
  width: 517px;
  height: 248px;
  position: absolute;
}

#lp-pom-box-578 {
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: dashed;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 0px;
  left: 0px;
  top: 1126px;
  z-index: 37;
  width: 365px;
  height: 178px;
  position: absolute;
}

#lp-pom-text-582 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 45px;
  top: 31px;
  z-index: 38;
  width: 276px;
  height: 130px;
  position: absolute;
}

#lp-pom-block-28 {
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 912px;
  position: relative;
}

#lp-pom-box-162 {
  display: block;
  background: rgba(99, 99, 99, 0);
  border-style: double;
  border-width: 1px;
  border-color: #81E2BF;
  border-radius: 10px;
  left: 45px;
  top: 1600px;
  z-index: 8;
  width: 430px;
  height: 190px;
  position: absolute;
}

#lp-pom-text-165 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 59px;
  top: 70px;
  z-index: 9;
  width: 312px;
  height: 88px;
  position: absolute;
}

#lp-pom-text-330 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 40px;
  top: 24px;
  z-index: 10;
  width: 349px;
  height: 38px;
  position: absolute;
}

#lp-pom-box-332 {
  display: block;
  background: rgba(99, 99, 99, 0);
  border-style: solid;
  border-width: 1px;
  border-color: #81E2BF;
  border-radius: 10px;
  left: 547px;
  top: 1600px;
  z-index: 12;
  width: 428px;
  height: 188px;
  position: absolute;
}

#lp-pom-text-333 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 58px;
  top: 69px;
  z-index: 14;
  width: 312px;
  height: 88px;
  position: absolute;
}

#lp-pom-text-335 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 58px;
  top: 24px;
  z-index: 13;
  width: 318px;
  height: 38px;
  position: absolute;
}

#lp-pom-box-427 {
  display: block;
  background: rgba(99, 99, 99, 0);
  border-style: solid;
  border-width: 1px;
  border-color: #81E2BF;
  border-radius: 10px;
  left: 547px;
  top: 1826px;
  z-index: 16;
  width: 428px;
  height: 188px;
  position: absolute;
}

#lp-pom-text-428 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 58px;
  top: 69px;
  z-index: 17;
  width: 312px;
  height: 88px;
  position: absolute;
}

#lp-pom-text-430 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 58px;
  top: 24px;
  z-index: 18;
  width: 318px;
  height: 38px;
  position: absolute;
}

#lp-pom-box-431 {
  display: block;
  background: rgba(99, 99, 99, 0);
  border-style: double;
  border-width: 1px;
  border-color: #81E2BF;
  border-radius: 10px;
  left: 45px;
  top: 1826px;
  z-index: 19;
  width: 430px;
  height: 190px;
  position: absolute;
}

#lp-pom-text-432 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 59px;
  top: 70px;
  z-index: 20;
  width: 312px;
  height: 88px;
  position: absolute;
}

#lp-pom-text-434 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 55px;
  top: 25px;
  z-index: 21;
  width: 320px;
  height: 38px;
  position: absolute;
}

#lp-pom-box-446 {
  display: block;
  background: rgba(99, 99, 99, 0);
  border-style: solid;
  border-width: 1px;
  border-color: #81E2BF;
  border-radius: 10px;
  left: 551px;
  top: 2053px;
  z-index: 22;
  width: 428px;
  height: 188px;
  position: absolute;
}

#lp-pom-text-447 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 55px;
  top: 69px;
  z-index: 23;
  width: 312px;
  height: 66px;
  position: absolute;
}

#lp-pom-text-448 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 55px;
  top: 24px;
  z-index: 24;
  width: 318px;
  height: 38px;
  position: absolute;
}

#lp-pom-box-449 {
  display: block;
  background: rgba(99, 99, 99, 0);
  border-style: double;
  border-width: 1px;
  border-color: #81E2BF;
  border-radius: 10px;
  left: 49px;
  top: 2053px;
  z-index: 25;
  width: 430px;
  height: 190px;
  position: absolute;
}

#lp-pom-text-450 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 59px;
  top: 70px;
  z-index: 26;
  width: 312px;
  height: 132px;
  position: absolute;
}

#lp-pom-text-451 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 55px;
  top: 25px;
  z-index: 27;
  width: 320px;
  height: 38px;
  position: absolute;
}

#lp-pom-text-455 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 406px;
  top: 1529px;
  z-index: 28;
  width: 214px;
  height: 38px;
  position: absolute;
}

#lp-pom-text-585 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 60px;
  top: 2288px;
  z-index: 39;
  width: 906px;
  height: 29px;
  position: absolute;
}

#lp-pom-block-607 {
  display: block;
  background: rgba(59, 109, 119, 0.83);
  background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/4a8b417e-adobestock-105344353_11hc0zk1hc0rz00003s01o.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 538px;
  position: relative;
}

#lp-pom-box-608 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 0px;
  top: 2522px;
  z-index: 49;
  width: 320px;
  height: 225px;
  position: absolute;
}

#lp-pom-text-609 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 2.5px;
  top: 67px;
  z-index: 50;
  width: 315px;
  height: 206px;
  position: absolute;
}

#lp-pom-image-610 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 110px;
  top: 2px;
  z-index: 51;
  position: absolute;
}

#lp-pom-box-611 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 353px;
  top: 2522px;
  z-index: 52;
  width: 320px;
  height: 229px;
  position: absolute;
}

#lp-pom-text-612 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 2.5px;
  top: 67px;
  z-index: 53;
  width: 315px;
  height: 230px;
  position: absolute;
}

#lp-pom-image-613 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 110px;
  top: 0px;
  z-index: 54;
  position: absolute;
}

#lp-pom-box-614 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 706px;
  top: 2522px;
  z-index: 55;
  width: 320px;
  height: 227px;
  position: absolute;
}

#lp-pom-text-615 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 2.5px;
  top: 67px;
  z-index: 56;
  width: 315px;
  height: 230px;
  position: absolute;
}

#lp-pom-image-616 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 110px;
  top: 0px;
  z-index: 57;
  position: absolute;
}

#lp-pom-text-617 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 105px;
  top: 2484px;
  z-index: 58;
  width: 815px;
  height: 38px;
  position: absolute;
}

#lp-pom-block-599 {
  display: block;
  background: rgba(241, 255, 255, 1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 748px;
  position: relative;
}

#lp-pom-text-600 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 472px;
  top: 3025px;
  z-index: 42;
  width: 492px;
  height: 38px;
  position: absolute;
}

#lp-pom-text-601 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 476px;
  top: 3074px;
  z-index: 43;
  width: 550px;
  height: 393px;
  position: absolute;
}

#lp-pom-button-602 {
  display: block;
  border-style: none;
  border-radius: 100px;
  left: 476px;
  top: 3491px;
  z-index: 44;
  width: 386px;
  height: 66px;
  position: absolute;
  background: rgba(59, 109, 119, 1);
  box-shadow: none;
  text-shadow: none;
  color: #FFF;
  border-width: undefinedpx;
  border-color: #undefined;
  font-size: 26px;
  line-height: 31px;
  font-weight: 300;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  background-repeat: no-repeat;
}

#lp-pom-text-603 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 24px;
  top: 3282px;
  z-index: 45;
  width: 359px;
  height: 16px;
  position: absolute;
}

#lp-pom-text-604 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 101px;
  top: 3324px;
  z-index: 46;
  width: 204px;
  height: 16px;
  position: absolute;
}

#lp-code-605 {
  display: block;
  left: 45px;
  top: 3366px;
  z-index: 47;
  width: 315px;
  height: 170px;
  position: absolute;
}

#lp-pom-image-606 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 90px;
  top: 3015px;
  z-index: 48;
  position: absolute;
}

#lp-pom-block-57 {
  display: block;
  background: rgba(59, 109, 119, 1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 95px;
  position: relative;
}

#lp-pom-text-58 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 0px;
  top: 3700px;
  z-index: 7;
  width: 435px;
  height: 22px;
  position: absolute;
}

#lp-pom-image-514 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 734px;
  top: 3682px;
  z-index: 31;
  position: absolute;
}

#lp-pom-text-554 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 807px;
  top: 3673px;
  z-index: 33;
  width: 219px;
  height: 84px;
  position: absolute;
}

#lp-pom-root .lp-positioned-content {
  top: 0px;
  width: 1026px;
  margin-left: -513px;
}

#lp-pom-block-155 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 1026px;
  height: 140px;
}

#lp-pom-block-17 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 1026px;
  height: 631px;
}

#container_name {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 46px;
}

.lp-pom-form-field .ub-input-item.single.form_elem_name {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 320px;
  height: 27px;
}

#label_name {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 15px;
}

#container_email {
  position: absolute;
  top: 58px;
  left: 0px;
  width: 320px;
  height: 46px;
}

.lp-pom-form-field .ub-input-item.single.form_elem_email {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 320px;
  height: 27px;
}

#label_email {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 15px;
}

#container_phone_number {
  position: absolute;
  top: 116px;
  left: 0px;
  width: 320px;
  height: 46px;
}

.lp-pom-form-field .ub-input-item.single.form_elem_phone_number {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 320px;
  height: 27px;
}

#label_phone_number {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 15px;
}

#container_message {
  position: absolute;
  top: 174px;
  left: 0px;
  width: 320px;
  height: 104px;
}

.lp-pom-form-field .ub-input-item.single.form_elem_message {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 320px;
  height: 81px;
}

#label_message {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 15px;
}

#lp-pom-button-22:hover {
  background: rgba(183, 242, 242, 1);
  box-shadow: none;
  color: #484E55;
}

#lp-pom-button-22:active {
  background: rgba(152, 230, 230, 1);
  box-shadow: none;
  color: #484E55;
}

#lp-pom-button-22 .label {
  margin-top: -16px;
}

#lp-pom-block-418 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 1026px;
  height: 192px;
}

#lp-pom-block-571 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 1026px;
  height: 506px;
}

#lp-pom-block-28 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 1026px;
  height: 912px;
}

#lp-pom-block-607 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 1026px;
  height: 538px;
}

#lp-pom-block-599 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 1026px;
  height: 748px;
}

#lp-pom-block-57 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 1026px;
  height: 95px;
}

#lp-pom-image-475 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 60px;
  height: 60px;
}

#lp-pom-image-475 .lp-pom-image-container img {
  width: 60px;
  height: 60px;
}

#lp-pom-image-514 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 66px;
  height: 66px;
}

#lp-pom-image-514 .lp-pom-image-container img {
  width: 66px;
  height: 66px;
}

#lp-pom-image-543 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 374px;
  height: 107px;
}

#lp-pom-image-543 .lp-pom-image-container img {
  width: 374px;
  height: 107px;
}

#lp-pom-image-560 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 435px;
  height: 124px;
}

#lp-pom-image-560 .lp-pom-image-container img {
  width: 435px;
  height: 124px;
}

#lp-pom-image-594 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 126px;
  height: 126px;
}

#lp-pom-image-594 .lp-pom-image-container img {
  width: 126px;
  height: 126px;
}

#lp-pom-button-602:hover {
  background: rgba(45, 100, 113, 1);
  box-shadow: none;
  color: #FFF;
}

#lp-pom-button-602:active {
  background: rgba(37, 93, 107, 1);
  box-shadow: none;
  color: #FFF;
}

#lp-pom-button-602 .label {
  margin-top: -16px;
}

#lp-pom-image-606 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 228px;
  height: 239px;
}

#lp-pom-image-606 .lp-pom-image-container img {
  width: 228px;
  height: 239px;
}

#lp-pom-image-610 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 100px;
  height: 58px;
}

#lp-pom-image-610 .lp-pom-image-container img {
  width: 100px;
  height: 58px;
}

#lp-pom-image-613 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 100px;
  height: 57px;
}

#lp-pom-image-613 .lp-pom-image-container img {
  width: 100px;
  height: 57px;
}

#lp-pom-image-616 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 100px;
  height: 60px;
}

#lp-pom-image-616 .lp-pom-image-container img {
  width: 100px;
  height: 60px;
}

#lp-pom-root-color-overlay {
  position: absolute;
  background: none;
  top: 0;
  width: 100%;
  height: 3762px;
  min-height: 100%;
}

#lp-pom-block-155-color-overlay {
  position: absolute;
  background: none;
  height: 140px;
  width: 100%;
  ;
}

#lp-pom-block-17-color-overlay {
  position: absolute;
  background: rgba(61, 79, 96, 0.57);
  height: 631px;
  width: 100%;
  ;
}

#lp-pom-box-19-color-overlay {
  position: absolute;
  background: none;
  height: 509px;
  width: 349px;
}

#lp-pom-block-418-color-overlay {
  position: absolute;
  background: none;
  height: 192px;
  width: 100%;
  ;
}

#lp-pom-block-571-color-overlay {
  position: absolute;
  background: none;
  height: 506px;
  width: 100%;
  ;
}

#lp-pom-block-28-color-overlay {
  position: absolute;
  background: none;
  height: 912px;
  width: 100%;
  ;
}

#lp-pom-block-607-color-overlay {
  position: absolute;
  background: rgba(59, 109, 119, 0.83);
  height: 538px;
  width: 100%;
  ;
}

#lp-pom-block-599-color-overlay {
  position: absolute;
  background: none;
  height: 748px;
  width: 100%;
  ;
}

#lp-pom-block-57-color-overlay {
  position: absolute;
  background: none;
  height: 95px;
  width: 100%;
  ;
}

#lp-pom-box-162-color-overlay {
  position: absolute;
  background: none;
  border-radius: 9px;
  height: 190px;
  width: 430px;
}

#lp-pom-box-332-color-overlay {
  position: absolute;
  background: none;
  border-radius: 9px;
  height: 188px;
  width: 428px;
}

#lp-pom-box-427-color-overlay {
  position: absolute;
  background: none;
  border-radius: 9px;
  height: 188px;
  width: 428px;
}

#lp-pom-box-431-color-overlay {
  position: absolute;
  background: none;
  border-radius: 9px;
  height: 190px;
  width: 430px;
}

#lp-pom-box-446-color-overlay {
  position: absolute;
  background: none;
  border-radius: 9px;
  height: 188px;
  width: 428px;
}

#lp-pom-box-449-color-overlay {
  position: absolute;
  background: none;
  border-radius: 9px;
  height: 190px;
  width: 430px;
}

#lp-pom-box-578-color-overlay {
  position: absolute;
  background: none;
  height: 178px;
  width: 365px;
}

#lp-pom-box-608-color-overlay {
  position: absolute;
  background: none;
  height: 225px;
  width: 320px;
}

#lp-pom-box-611-color-overlay {
  position: absolute;
  background: none;
  height: 229px;
  width: 320px;
}

#lp-pom-box-614-color-overlay {
  position: absolute;
  background: none;
  height: 227px;
  width: 320px;
}

#lp-pom-form-21 {
  display: block;
  left: 15px;
  top: 134px;
  z-index: 3;
  width: 320px;
  height: 0px;
  position: absolute;
}

#lp-pom-form-21 .fields {
  margin: -6px;
}

#lp-pom-form-21 .lp-pom-form-field {
  position: absolute;
}

#lp-pom-form-21 .option {
  position: absolute;
}

#lp-pom-form-21 .optionsList {
  position: absolute;
}

#lp-pom-form-21 .lp-pom-form-field .single {
  height: 27px;
  font-size: 14px;
  line-height: 14px;
  padding-left: 5px;
  padding-right: 5px;
  flex: 1;
}

#lp-pom-form-21 .lp-pom-form-field select {
  height: 25px;
}

#lp-pom-form-21 .lp-pom-form-field .form_elem_multi {
  padding-top: 5px;
  padding-bottom: 6px;
}

#lp-pom-form-21 .lp-pom-form-field .lp-form-label {
  font-family: arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  display: block;
  margin-bottom: 4px;
  width: auto;
  margin-right: 0px;
}

#lp-pom-form-21 .lp-pom-form-field .lp-form-label .label-style {
  font-weight: bolder;
  font-style: inherit;
}

#lp-pom-form-21 .lp-pom-form-field input[type=text],
#lp-pom-form-21 .lp-pom-form-field input[type=email],
#lp-pom-form-21 .lp-pom-form-field input[type=tel],
#lp-pom-form-21 .lp-pom-form-field textarea,
#lp-pom-form-21 .lp-pom-form-field select {
  border-style: solid;
  border-width: 1px;
  border-color: #bbbbbb;
}

#lp-pom-form-21 .lp-pom-form-field .opt-label {
  font-family: arial;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  line-height: 15px;
}

#lp-pom-form-21 .lp-pom-form-field .opt-label .label-style {
  font-weight: inherit;
  font-style: inherit;
}

#lp-pom-form-21 .lp-pom-form-field .text {
  background-color: #ffffff;
  color: #000;
  border-radius: 2px;
}

#lp-pom-form-21 .lp-pom-form-field #message {
  height: 81px;
  line-height: 17px;
  padding-top: 5px;
  padding-bottom: 6px;
}

@media (-webkit-min-device-pixel-ratio: 1.1),
(min-resolution: 97dpi) {
  #lp-pom-block-17 {
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/719e1bf3-adobestock-77070188_10000002s01pi00002k01o.jpeg);
  }

  #lp-pom-block-607 {
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/4a8b417e-adobestock-105344353_12yo1z42yo1jy00007k01o.jpeg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2.1),
(min-resolution: 193dpi) {
  #lp-pom-block-607 {
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/4a8b417e-adobestock-105344353_100000048027p0000as01o.jpeg);
  }
}
</style>
<style title="page-styles" type="text/css" data-page-type="main_mobile">
@media only screen and (max-width: 600px) {
  #lp-pom-root {
    display: block;
    background: rgba(69, 69, 69, 1);
    border-style: none;
    margin: auto;
    padding-top: 0px;
    border-radius: 0px;
    min-width: 320px;
    height: 6622px;
  }

  #lp-pom-block-155 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 431px;
    position: relative;
  }

  #lp-pom-text-299 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 98px;
    top: 340px;
    z-index: 11;
    width: 182px;
    height: 68px;
    position: absolute;
  }

  #lp-pom-image-475 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 36px;
    top: 346px;
    z-index: 29;
    position: absolute;
  }

  #lp-pom-image-543 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 10px;
    top: 143px;
    z-index: 32;
    position: absolute;
  }

  #lp-pom-image-560 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 99px;
    top: 24px;
    z-index: 34;
    position: absolute;
  }

  #lp-pom-text-587 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 36px;
    top: 281px;
    z-index: 40;
    width: 275px;
    height: 42px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-block-17 {
    display: block;
    background: rgba(61, 79, 96, 0.66);
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/719e1bf3-adobestock-77070188_10x90m60go0m60gl00001o.jpeg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 798px;
    position: relative;
  }

  #lp-pom-text-18 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 9.5px;
    top: 501px;
    z-index: 1;
    width: 617px;
    height: 154px;
    transform: scale(0.5);
    transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-box-19 {
    display: block;
    background: rgba(59, 109, 119, 0.85);
    border-style: none;
    border-radius: 0px;
    left: 0px;
    top: 692px;
    z-index: 2;
    width: 320px;
    height: 499px;
    position: absolute;
  }

  #lp-pom-text-20 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 21.5px;
    top: 20.44444641654877px;
    z-index: 5;
    width: 315px;
    height: 68px;
    transform: scale(0.88);
    transform-origin: 0 0;
    -webkit-transform: scale(0.88);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-text-372 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 88.44444641654877px;
    z-index: 6;
    width: 286px;
    height: 36px;
    transform: scale(0.98);
    transform-origin: 0 0;
    -webkit-transform: scale(0.98);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-text-476 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 9.5px;
    top: 594px;
    z-index: 30;
    width: 526px;
    height: 116px;
    transform: scale(0.57);
    transform-origin: 0 0;
    -webkit-transform: scale(0.57);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-image-594 {
    display: none;
    background: rgba(255, 255, 255, 0);
    left: 571px;
    top: 897px;
    z-index: 41;
    position: absolute;
  }

  #lp-pom-button-22 {
    display: block;
    border-style: none;
    border-radius: 100px;
    left: 0px;
    top: 292px;
    z-index: 4;
    width: 300px;
    height: 51px;
    position: absolute;
    background: rgba(241, 255, 255, 1);
    box-shadow: none;
    text-shadow: none;
    color: #484E55;
    border-width: undefinedpx;
    border-color: #undefined;
    font-size: 26px;
    line-height: 31px;
    font-weight: 100;
    font-family: Roboto;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
  }

  #lp-pom-block-418 {
    display: block;
    background: rgba(59, 109, 119, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 323px;
    position: relative;
  }

  #lp-pom-text-419 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 12px;
    top: 1263px;
    z-index: 15;
    width: 318px;
    height: 276px;
    transform: scale(0.93);
    transform-origin: 0 0;
    -webkit-transform: scale(0.93);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-block-571 {
    display: block;
    background: rgba(241, 255, 255, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 785px;
    position: relative;
  }

  #lp-pom-text-573 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 1800px;
    z-index: 35;
    width: 351px;
    height: 90px;
    transform: scale(0.7977207977207977);
    transform-origin: 0 0;
    -webkit-transform: scale(0.7977207977207977);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-text-574 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 1884px;
    z-index: 36;
    width: 280px;
    height: 422px;
    position: absolute;
  }

  #lp-pom-box-578 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: dashed;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 20px;
    top: 1589px;
    z-index: 37;
    width: 278px;
    height: 178px;
    position: absolute;
  }

  #lp-pom-text-582 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 26px;
    top: 9px;
    z-index: 38;
    width: 226px;
    height: 168px;
    position: absolute;
  }

  #lp-pom-block-28 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1502px;
    position: relative;
  }

  #lp-pom-box-162 {
    display: block;
    background: rgba(99, 99, 99, 0);
    border-style: double;
    border-width: 1px;
    border-color: #81E2BF;
    border-radius: 10px;
    left: 2px;
    top: 2643px;
    z-index: 8;
    width: 314px;
    height: 170px;
    position: absolute;
  }

  #lp-pom-text-165 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 12.5px;
    top: 60px;
    z-index: 9;
    width: 289px;
    height: 88px;
    position: absolute;
  }

  #lp-pom-text-330 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 6px;
    top: 23px;
    z-index: 10;
    width: 301px;
    height: 38px;
    position: absolute;
  }

  #lp-pom-box-332 {
    display: block;
    background: rgba(99, 99, 99, 0);
    border-style: solid;
    border-width: 1px;
    border-color: #81E2BF;
    border-radius: 10px;
    left: 3px;
    top: 2444px;
    z-index: 12;
    width: 312px;
    height: 168px;
    position: absolute;
  }

  #lp-pom-text-333 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 8px;
    top: 60px;
    z-index: 14;
    width: 296px;
    height: 88px;
    position: absolute;
  }

  #lp-pom-text-335 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: -1px;
    top: 22px;
    z-index: 13;
    width: 314px;
    height: 38px;
    position: absolute;
  }

  #lp-pom-box-427 {
    display: block;
    background: rgba(99, 99, 99, 0);
    border-style: solid;
    border-width: 1px;
    border-color: #81E2BF;
    border-radius: 10px;
    left: 3px;
    top: 3078px;
    z-index: 16;
    width: 312px;
    height: 168px;
    position: absolute;
  }

  #lp-pom-text-428 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 8px;
    top: 59px;
    z-index: 17;
    width: 296px;
    height: 88px;
    position: absolute;
  }

  #lp-pom-text-430 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: -1px;
    top: 22px;
    z-index: 18;
    width: 314px;
    height: 38px;
    position: absolute;
  }

  #lp-pom-box-431 {
    display: block;
    background: rgba(99, 99, 99, 0);
    border-style: double;
    border-width: 1px;
    border-color: #81E2BF;
    border-radius: 10px;
    left: 2px;
    top: 2850px;
    z-index: 19;
    width: 314px;
    height: 189px;
    position: absolute;
  }

  #lp-pom-text-432 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 8.5px;
    top: 60px;
    z-index: 20;
    width: 300px;
    height: 88px;
    transform: scale(0.99);
    transform-origin: 0 0;
    -webkit-transform: scale(0.99);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-text-434 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 7px;
    top: 23px;
    z-index: 21;
    width: 301px;
    height: 38px;
    position: absolute;
  }

  #lp-pom-box-446 {
    display: block;
    background: rgba(99, 99, 99, 0);
    border-style: solid;
    border-width: 1px;
    border-color: #81E2BF;
    border-radius: 10px;
    left: 3px;
    top: 3512px;
    z-index: 22;
    width: 312px;
    height: 168px;
    position: absolute;
  }

  #lp-pom-text-447 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 6px;
    top: 60px;
    z-index: 23;
    width: 300px;
    height: 66px;
    position: absolute;
  }

  #lp-pom-text-448 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: -1px;
    top: 22px;
    z-index: 24;
    width: 314px;
    height: 38px;
    position: absolute;
  }

  #lp-pom-box-449 {
    display: block;
    background: rgba(99, 99, 99, 0);
    border-style: double;
    border-width: 1px;
    border-color: #81E2BF;
    border-radius: 10px;
    left: 2px;
    top: 3286px;
    z-index: 25;
    width: 314px;
    height: 186px;
    position: absolute;
  }

  #lp-pom-text-450 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 8.5px;
    top: 60px;
    z-index: 26;
    width: 297px;
    height: 154px;
    position: absolute;
  }

  #lp-pom-text-451 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 7px;
    top: 23px;
    z-index: 27;
    width: 301px;
    height: 38px;
    position: absolute;
  }

  #lp-pom-text-455 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 47px;
    top: 2391px;
    z-index: 28;
    width: 226px;
    height: 38px;
    position: absolute;
  }

  #lp-pom-text-585 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 14px;
    top: 3726px;
    z-index: 39;
    width: 347px;
    height: 87px;
    transform: scale(0.84);
    transform-origin: 0 0;
    -webkit-transform: scale(0.84);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-block-607 {
    display: block;
    background: rgba(59, 109, 119, 0.83);
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/4a8b417e-adobestock-105344353_11b20vd0go0vd0f600001o.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1129px;
    position: relative;
  }

  #lp-pom-box-608 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 4291px;
    z-index: 49;
    width: 280px;
    height: 225px;
    position: absolute;
  }

  #lp-pom-text-609 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 16.5px;
    top: 76px;
    z-index: 50;
    width: 260px;
    height: 230px;
    transform: scale(0.95);
    transform-origin: 0 0;
    -webkit-transform: scale(0.95);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-image-610 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 90px;
    top: 0px;
    z-index: 51;
    position: absolute;
  }

  #lp-pom-box-611 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 3951px;
    z-index: 52;
    width: 280px;
    height: 229px;
    position: absolute;
  }

  #lp-pom-text-612 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 16.5px;
    top: 78px;
    z-index: 53;
    width: 260px;
    height: 278px;
    transform: scale(0.95);
    transform-origin: 0 0;
    -webkit-transform: scale(0.95);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-image-613 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 90px;
    top: 10px;
    z-index: 54;
    position: absolute;
  }

  #lp-pom-box-614 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 4576px;
    z-index: 55;
    width: 280px;
    height: 227px;
    position: absolute;
  }

  #lp-pom-text-615 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 16.5px;
    top: 78px;
    z-index: 56;
    width: 260px;
    height: 278px;
    transform: scale(0.95);
    transform-origin: 0 0;
    -webkit-transform: scale(0.95);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-image-616 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 90px;
    top: 10px;
    z-index: 57;
    position: absolute;
  }

  #lp-pom-text-617 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 7.5px;
    top: 3897px;
    z-index: 58;
    width: 342px;
    height: 76px;
    transform: scale(0.89171974522293);
    transform-origin: 0 0;
    -webkit-transform: scale(0.89171974522293);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-block-599 {
    display: block;
    background: rgba(241, 255, 255, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1503px;
    position: relative;
  }

  #lp-pom-text-600 {
    display: none;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 5483px;
    z-index: 42;
    width: 300px;
    height: 76px;
    transform: scale(0.91);
    transform-origin: 0 0;
    -webkit-transform: scale(0.91);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-text-601 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 14px;
    top: 5683px;
    z-index: 43;
    width: 291px;
    height: 741px;
    position: absolute;
  }

  #lp-pom-button-602 {
    display: block;
    border-style: none;
    border-radius: 100px;
    left: 20px;
    top: 5381px;
    z-index: 44;
    width: 280px;
    height: 72px;
    position: absolute;
    background: rgba(59, 109, 119, 1);
    box-shadow: none;
    text-shadow: none;
    color: #FFF;
    border-width: undefinedpx;
    border-color: #undefined;
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    font-family: Roboto;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
  }

  #lp-pom-text-603 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 5283px;
    z-index: 45;
    width: 280px;
    height: 16px;
    position: absolute;
  }

  #lp-pom-text-604 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 51.5px;
    top: 5334px;
    z-index: 46;
    width: 217px;
    height: 16px;
    position: absolute;
  }

  #lp-code-605 {
    display: block;
    left: 2.5px;
    top: 5489px;
    z-index: 47;
    width: 315px;
    height: 170px;
    position: absolute;
  }

  #lp-pom-image-606 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 46px;
    top: 5021px;
    z-index: 48;
    position: absolute;
  }

  #lp-pom-block-57 {
    display: block;
    background: rgba(59, 109, 119, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 151px;
    position: relative;
  }

  #lp-pom-text-58 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 42px;
    top: 6566px;
    z-index: 7;
    width: 311px;
    height: 44px;
    transform: scale(0.76);
    transform-origin: 0 0;
    -webkit-transform: scale(0.76);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  #lp-pom-image-514 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 29px;
    top: 6493px;
    z-index: 31;
    position: absolute;
  }

  #lp-pom-text-554 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 87px;
    top: 6482px;
    z-index: 33;
    width: 227px;
    height: 84px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }

  body {
    color: #232122;
  }

  a {
    color: #fcfcfe;
    text-decoration: none;
  }

  #lp-pom-root .lp-positioned-content {
    top: 0px;
    width: 320px;
    margin-left: -160px;
  }

  #lp-pom-block-155 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 431px;
  }

  #lp-pom-block-17 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 798px;
  }

  #container_name {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 46px;
  }

  .lp-pom-form-field .ub-input-item.single.form_elem_name {
    position: absolute;
    top: 19px;
    left: 0px;
    width: 300px;
    height: 27px;
  }

  #label_name {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 15px;
  }

  #container_email {
    position: absolute;
    top: 58px;
    left: 0px;
    width: 300px;
    height: 46px;
  }

  .lp-pom-form-field .ub-input-item.single.form_elem_email {
    position: absolute;
    top: 19px;
    left: 0px;
    width: 300px;
    height: 27px;
  }

  #label_email {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 15px;
  }

  #container_phone_number {
    position: absolute;
    top: 116px;
    left: 0px;
    width: 300px;
    height: 46px;
  }

  .lp-pom-form-field .ub-input-item.single.form_elem_phone_number {
    position: absolute;
    top: 19px;
    left: 0px;
    width: 300px;
    height: 27px;
  }

  #label_phone_number {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 15px;
  }

  #container_message {
    position: absolute;
    top: 174px;
    left: 0px;
    width: 300px;
    height: 104px;
  }

  .lp-pom-form-field .ub-input-item.single.form_elem_message {
    position: absolute;
    top: 19px;
    left: 0px;
    width: 300px;
    height: 81px;
  }

  #label_message {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 15px;
  }

  #lp-pom-button-22:hover {
    background: rgba(183, 242, 242, 1);
    box-shadow: none;
    color: #484E55;
  }

  #lp-pom-button-22:active {
    background: rgba(152, 230, 230, 1);
    box-shadow: none;
    color: #484E55;
  }

  #lp-pom-button-22 .label {
    margin-top: -16px;
  }

  #lp-pom-block-418 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 323px;
  }

  #lp-pom-block-571 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 785px;
  }

  #lp-pom-block-28 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 1502px;
  }

  #lp-pom-block-607 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 1129px;
  }

  #lp-pom-block-599 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 1503px;
  }

  #lp-pom-block-57 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 151px;
  }

  #lp-pom-image-475 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 54px;
    height: 55px;
  }

  #lp-pom-image-475 .lp-pom-image-container img {
    width: 54px;
    height: 55px;
  }

  #lp-pom-image-514 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 49px;
    height: 49px;
  }

  #lp-pom-image-514 .lp-pom-image-container img {
    width: 49px;
    height: 49px;
  }

  #lp-pom-image-543 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 303px;
    height: 120px;
  }

  #lp-pom-image-543 .lp-pom-image-container img {
    width: 303px;
    height: 120px;
  }

  #lp-pom-image-560 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 134px;
    height: 124px;
  }

  #lp-pom-image-560 .lp-pom-image-container img {
    width: 134px;
    height: 124px;
  }

  #lp-pom-image-594 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 126px;
    height: 126px;
  }

  #lp-pom-image-594 .lp-pom-image-container img {
    width: 126px;
    height: 126px;
  }

  #lp-pom-button-602:hover {
    background: rgba(45, 100, 113, 1);
    box-shadow: none;
    color: #FFF;
  }

  #lp-pom-button-602:active {
    background: rgba(37, 93, 107, 1);
    box-shadow: none;
    color: #FFF;
  }

  #lp-pom-button-602 .label {
    margin-top: -13px;
  }

  #lp-pom-image-606 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 228px;
    height: 239px;
  }

  #lp-pom-image-606 .lp-pom-image-container img {
    width: 228px;
    height: 239px;
  }

  #lp-pom-image-610 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 100px;
    height: 58px;
  }

  #lp-pom-image-610 .lp-pom-image-container img {
    width: 100px;
    height: 58px;
  }

  #lp-pom-image-613 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 100px;
    height: 57px;
  }

  #lp-pom-image-613 .lp-pom-image-container img {
    width: 100px;
    height: 57px;
  }

  #lp-pom-image-616 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 100px;
    height: 60px;
  }

  #lp-pom-image-616 .lp-pom-image-container img {
    width: 100px;
    height: 60px;
  }

  #lp-pom-root-color-overlay {
    position: absolute;
    background: none;
    top: 0;
    width: 100%;
    height: 6622px;
    min-height: 100%;
  }

  #lp-pom-block-155-color-overlay {
    position: absolute;
    background: none;
    height: 431px;
    width: 100%;
    ;
  }

  #lp-pom-block-17-color-overlay {
    position: absolute;
    background: rgba(61, 79, 96, 0.66);
    height: 798px;
    width: 100%;
    ;
  }

  #lp-pom-box-19-color-overlay {
    position: absolute;
    background: none;
    height: 499px;
    width: 320px;
  }

  #lp-pom-block-418-color-overlay {
    position: absolute;
    background: none;
    height: 323px;
    width: 100%;
    ;
  }

  #lp-pom-block-571-color-overlay {
    position: absolute;
    background: none;
    height: 785px;
    width: 100%;
    ;
  }

  #lp-pom-block-28-color-overlay {
    position: absolute;
    background: none;
    height: 1502px;
    width: 100%;
    ;
  }

  #lp-pom-block-607-color-overlay {
    position: absolute;
    background: rgba(59, 109, 119, 0.83);
    height: 1129px;
    width: 100%;
    ;
  }

  #lp-pom-block-599-color-overlay {
    position: absolute;
    background: none;
    height: 1503px;
    width: 100%;
    ;
  }

  #lp-pom-block-57-color-overlay {
    position: absolute;
    background: none;
    height: 151px;
    width: 100%;
    ;
  }

  #lp-pom-box-162-color-overlay {
    position: absolute;
    background: none;
    border-radius: 9px;
    height: 170px;
    width: 314px;
  }

  #lp-pom-box-332-color-overlay {
    position: absolute;
    background: none;
    border-radius: 9px;
    height: 168px;
    width: 312px;
  }

  #lp-pom-box-427-color-overlay {
    position: absolute;
    background: none;
    border-radius: 9px;
    height: 168px;
    width: 312px;
  }

  #lp-pom-box-431-color-overlay {
    position: absolute;
    background: none;
    border-radius: 9px;
    height: 189px;
    width: 314px;
  }

  #lp-pom-box-446-color-overlay {
    position: absolute;
    background: none;
    border-radius: 9px;
    height: 168px;
    width: 312px;
  }

  #lp-pom-box-449-color-overlay {
    position: absolute;
    background: none;
    border-radius: 9px;
    height: 186px;
    width: 314px;
  }

  #lp-pom-box-578-color-overlay {
    position: absolute;
    background: none;
    height: 178px;
    width: 278px;
  }

  #lp-pom-box-608-color-overlay {
    position: absolute;
    background: none;
    height: 225px;
    width: 280px;
  }

  #lp-pom-box-611-color-overlay {
    position: absolute;
    background: none;
    height: 229px;
    width: 280px;
  }

  #lp-pom-box-614-color-overlay {
    position: absolute;
    background: none;
    height: 227px;
    width: 280px;
  }

  #lp-pom-form-21 {
    display: block;
    left: 10px;
    top: 132px;
    z-index: 3;
    width: 300px;
    height: 0px;
    position: absolute;
  }

  #lp-pom-form-21 .fields {
    margin: -6px;
  }

  #lp-pom-form-21 .lp-pom-form-field {
    position: absolute;
  }

  #lp-pom-form-21 .option {
    position: absolute;
  }

  #lp-pom-form-21 .optionsList {
    position: absolute;
  }

  #lp-pom-form-21 .lp-pom-form-field .single {
    height: 27px;
    font-size: 14px;
    line-height: 14px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1;
  }

  #lp-pom-form-21 .lp-pom-form-field select {
    height: 25px;
  }

  #lp-pom-form-21 .lp-pom-form-field .form_elem_multi {
    padding-top: 5px;
    padding-bottom: 6px;
  }

  #lp-pom-form-21 .lp-pom-form-field .lp-form-label {
    font-family: arial;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #ffffff;
    display: block;
    margin-bottom: 4px;
    width: auto;
    margin-right: 0px;
  }

  #lp-pom-form-21 .lp-pom-form-field .lp-form-label .label-style {
    font-weight: bolder;
    font-style: inherit;
  }

  #lp-pom-form-21 .lp-pom-form-field input[type=text],
  #lp-pom-form-21 .lp-pom-form-field input[type=email],
  #lp-pom-form-21 .lp-pom-form-field input[type=tel],
  #lp-pom-form-21 .lp-pom-form-field textarea,
  #lp-pom-form-21 .lp-pom-form-field select {
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
  }

  #lp-pom-form-21 .lp-pom-form-field .opt-label {
    font-family: arial;
    font-weight: 400;
    font-size: 13px;
    color: #000;
    line-height: 15px;
  }

  #lp-pom-form-21 .lp-pom-form-field .opt-label .label-style {
    font-weight: inherit;
    font-style: inherit;
  }

  #lp-pom-form-21 .lp-pom-form-field .text {
    background-color: #ffffff;
    color: #000;
    border-radius: 2px;
  }

  #lp-pom-form-21 .lp-pom-form-field #message {
    height: 81px;
    line-height: 17px;
    padding-top: 5px;
    padding-bottom: 6px;
  }
}

@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 1.1),
only screen and (max-width: 600px) and (min-resolution: 97dpi) {
  #lp-pom-block-17 {
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/719e1bf3-adobestock-77070188_11ui18c0xc18c0x600001o.jpeg);
  }

  #lp-pom-block-607 {
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/4a8b417e-adobestock-105344353_12m31qq0xc1qq0uc00001o.jpeg);
  }
}

@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2.1),
only screen and (max-width: 600px) and (min-resolution: 193dpi) {
  #lp-pom-block-17 {
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/719e1bf3-adobestock-77070188_12rr1ui1e01ui1dr00001o.jpeg);
  }

  #lp-pom-block-607 {
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/call.myfairoaksdentist.com/4a8b417e-adobestock-105344353_13x52m31e02m319i00001o.jpeg);
  }
}